fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

langchain
langchain-core
langchain-ollama
langgraph
typing-extensions

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

pytest
pytest-asyncio
httpx